
    <h1 id="what-is-ngbolt-">What is ngBolt?</h1>
<p>ngBolt is a set of libraries which make it easier to build web applications 
intended to deploy to different architectures. ngBolt builds on AngularJS to
provide a set of UI components, layout tools, data access, and a modern design.</p>
<div id="docs-cards" class="grid-block">
    <div class="card" ng-if="false">
        <div class="card-content">
            <div class="card-primary grid-wrapper">
                <div class="card-body text-center">
                    <h3 class="font-title">Explore</h3>
                    <span class="fa fa-compass"></span>
                    <p class="card-text">View example applications that showcase ngBolt capabilities.</p>
                </div>
            </div>
        </div>
        <footer class="card-footer edge-top">
            <div class="card-actions justify-center">
                <!-- TODO: Add External Link Icon -->
                <button class="card-btn-submit">Places</button>
                <button class="card-btn-submit">Chat</button>
                <button class="card-btn-submit">To Do</button>
            </div>
        </footer>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-primary grid-wrapper">
                <div class="card-body text-center">
                    <h3 class="font-title">Try</h3>
                    <span class="fa fa-flask"></span>
                    <p class="card-text">Get a quick look at a simple &quot;Hello World&quot; application using ngBolt.</p>
                </div>
            </div>
        </div>
        <footer class="card-footer edge-top">
            <div class="card-actions justify-right">
                <button class="card-btn-submit" ng-click="$main.open('getting-started')">Getting Started</button>
            </div>
        </footer>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-primary grid-wrapper">
                <div class="card-body text-center">
                    <h3 class="font-title">Learn</h3>
                    <span class="fa fa-book"></span>
                    <p class="card-text">Walk through a tutorial to get your hands dirty.</p>
                </div>
            </div>
        </div>
        <footer class="card-footer edge-top">
            <div class="card-actions justify-right">
                <button class="card-btn-submit" ng-click="$main.open('tutorial/introduction')">Tutorial</button>
            </div>
        </footer>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-primary grid-wrapper">
                <div class="card-body text-center">
                    <h3 class="font-title">Master</h3>
                    <span class="fa fa-magic"></span>
                    <p class="card-text">Understand what makes ngBolt tick to expand the possibilities.</p>
                </div>
            </div>
        </div>
        <footer class="card-footer edge-top">
            <div class="card-actions justify-right">
                <button class="card-btn-submit" ng-click="$main.open('fundamentals/architecture')">Architecture</button>
            </div>
        </footer>
    </div>
</div>

<h2 id="assumptions">Assumptions</h2>
<p>This documentation assumes that you are already familiar with 
<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript">Javascript</a>
and <a href="https://docs.angularjs.org/guide">AngularJS</a>.</p>
<h2 id="feedback">Feedback</h2>
<p>You can file <a href="https://github.com/ngbolt/ng-bolt/issues">bugs / feature requests / issues</a> 
or create <a href="https://github.com/ngbolt/ng-bolt/pulls">pull requests</a> on the 
ngBolt <a href="https://github.com/ngbolt/ng-bolt">Github</a> repository. The 
<a href="/#!/resources/contribute">contributing guide</a> will help you contribute to the 
community and align with the <a href="/#!/resources/goals">project goals</a>.</p>
<p>If you can&#39;t find something in the documentation, use the 
<a href="/#!/table-of-contents">Table Of Contents</a> or submit a question on 
<a href="https://github.com/ngbolt/ng-bolt/issues">Github</a>.</p>

