
  <h1 id="documentation">Documentation</h1>
<h2 id="ngboltjs-core">ngBoltJS Core</h2>
<p>The ngBoltJS core is a collection of services and components that form that are required by the rest of ngBoltJS components.</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="/#/api/blt_core/service/BltApi"><code>BltApi</code></a></td>
<td><span class="tag-service"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_core/directive/bltGrid"><code>bltGrid</code></a></td>
<td><span class="tag-directive"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_core/directive/bltFont"><code>bltFont</code></a></td>
<td><span class="tag-directive"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_core/directive/bltButton"><code>bltButton</code></a></td>
<td><span class="tag-directive"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_core/directive/bltForm"><code>bltForm</code></a></td>
<td><span class="tag-directive"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_core/directive/bltMain"><code>bltMain</code></a></td>
<td><span class="tag-directive"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_core/directive/bltOpen"><code>bltOpen</code></a></td>
<td><span class="tag-directive"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_core/directive/bltClose"><code>bltClose</code></a></td>
<td><span class="tag-directive"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_core/directive/bltOpenView"><code>bltOpenView</code></a></td>
<td><span class="tag-directive"></span><span class="tag-deprecated"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_core/directive/bltValidate"><code>bltValidate</code></a></td>
<td><span class="tag-directive"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_core/directive/bltIfBp"><code>bltIfBp</code></a></td>
<td><span class="tag-directive"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_core/directive/bltSpinner"><code>bltSpinner</code></a></td>
<td><span class="tag-directive"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_core/directive/bltCssUtilities"><code>bltCssUtilities</code></a></td>
<td><span class="tag-directive"></span></td>
</tr>
</tbody>
</table>
<h2 id="configuration-modules">Configuration Modules</h2>
<p>Configuration modules are generated during the application build process from your application&#39;s JSON configuration files. The modules are create to properly set up your application.</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="/#/api/blt_config"><code>blt_config</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_appProfile"><code>blt_appProfile</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_dataRoutes"><code>blt_dataRoutes</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_appViews"><code>blt_appViews</code></a></td>
<td><span class="tag-module"></span></td>
</tr>
</tbody>
</table>
<h2 id="optional-modules">Optional Modules</h2>
<p>The remaining modules provide optional services and components for your Application. You can add and remove any of these in your <a href="/#/api/blt_config">build configuration</a>.</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="/#/api/blt_data"><code>blt_data</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_auth"><code>blt_auth</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_appbar"><code>blt_appbar</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_card"><code>blt_card</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_checkboxradio"><code>blt_checkboxradio</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_classificationbar"><code>blt_classificationbar</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_counter"><code>blt_counter</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_datepicker"><code>blt_datepicker</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_dropdown"><code>blt_dropdown</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_fileloader"><code>blt_fileloader</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_list"><code>blt_list</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_login"><code>blt_login</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_menu"><code>blt_menu</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_modal"><code>blt_modal</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_notifications"><code>blt_notifications</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_panel"><code>blt_panel</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_table"><code>blt_table</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_tab"><code>blt_tab</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_textfield"><code>blt_textfield</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_toggleswitch"><code>blt_toggleswitch</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
<tr>
<td><a href="/#/api/blt_view"><code>blt_view</code></a></td>
<td><span class="tag-module"></span></td>
<td></td>
</tr>
</tbody>
</table>

