
    <h1 id="api-documentation">API Documentation</h1>
<div id="api-index" class="grid-block grid-content page-wrapper">
    <div class="grid-block grid-vertical">
        <form name="ctrl.filters" class="form" class="grid-block" novalidate>
            <!-- TODO: Add Type Drop Down -->
            <!-- TODO: Add Status Drop Down -->
            <div class="appbar-search card">
                <input class="appbar-search-field" 
                       type="search" 
                       placeholder="Filter" 
                       ng-model="ctrl.search.keyword" />
            </div>
        </form>
        <div class="grid-block grid-vertical api-group" 
             ng-repeat="(key, module) in ctrl.modules | orderObjectBy:'name'" 
             ng-hide="ctrl.search.keyword != '' && module.filtered.length == 0"
             ng-class="{'first': module.name == 'core'}">
            <h3>{{module.name}}</h3>
            <div class="grid-block grid-list api-list">
                <div class="grid-block api-item" 
                     ng-repeat="doc in module.filtered = (module.docs | filter:ctrl.search.keyword)">
                    <p>
                        <span class="mini tag-{{doc.type}}" title="{{doc.type}}"></span>
                        <span ng-if="doc.deprecated" class="mini tag-deprecated" title="Deprecated"></span>
                        <a ng-click="$main.open(doc.url)">{{doc.name}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
