
  <h1 id="introduction">Introduction</h1>
<p>The ngBoltJS Documentation Guides provide an overview on getting started, 
configuring your application, and using components and services.</p>
<h2 id="before-you-begin">Before you Begin</h2>
<p>ngBoltJS relies on several other libraries and technologies that you should familiarize yourself with before digging 
into ngBoltJS. A solid understanding of the following technologies is highly recommended:</p>
<ul>
<li><a href="https://developer.mozilla.org/en-US/">HTML5, CSS3, and Javascript</a></li>
<li><a href="https://docs.angularjs.org/guide">Angular 1.5</a></li>
<li><a href="http://sass-lang.com">Sass</a></li>
</ul>
<h2 id="guides">Guides</h2>
<p>Review the guides listed below. For more information on specific components
and services, visit the <a href="/api">ngBoltJS documentation</a>.</p>
<ul>
<li><a href="/#/guides/getting-started">Getting Started</a></li>
<li><a href="/#/guides/configuration">Configuring your App</a></li>
<li><a href="/#/guides/authentication">Authentication</a></li>
<li><a href="/#/guides/data-api">Connecting to Data Services</a></li>
<li><a href="/#/guides/theme">Editing your App&#39;s Theme</a></li>
<li><a href="/#/guides/breakpoints">Using Media Queries</a></li>
<li><a href="/#/guides/documentation">Writing Documentation</a></li>
</ul>

