
    <h1 id="table-of-contents">Table of Contents</h1>
<h2 id="getting-started">Getting Started</h2>
<p>The <a href="/#!/getting-started">Getting Started</a><a class="done"></a> section is a Quick Start guide to 
installing ngBolt and creating a new application using the CLI.</p>
<h2 id="tutorial">Tutorial</h2>
<p>The tutorial will walk new developers through creating a new application using 
the CLI. Developers will learn how to configure new applications, add 
modules, access data from multiple sources, design for multiple screen sizes, 
and package the application in multiple formats.</p>
<p>By the end of the tutorial, developers should feel comfortable with the CLI as 
well as have a general understanding of an ngBolt project.</p>
<table class="table table-collapse">
    <thead>
        <tr>
            <th class="text-center table-actions">Step</th>
            <th>Page</th>
            <th>Description</th>
        <tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">1</td>
            <td><a href="/#!/tutorial/introduction">Introduction</a></td>
            <td>A brief introduction to ngBolt and the CLI<a class="todo"></a></td>
        </tr>
        <tr>
            <td class="text-center">2</td>
            <td><a href="/#!/tutorial/configuration">Configuration</a></td>
            <td>Using config files to configure ngBolt components<a class="todo"></a></td>
        </tr>
        <tr>
            <td class="text-center">3</td>
            <td><a href="/#!/tutorial/todo-module">To Do Module</a></td>
            <td>Creating a module for viewing To Do items<a class="todo"></a></td>
        </tr>
        <tr>
            <td class="text-center">4</td>
            <td><a href="/#!/tutorial/todo-editor">To Do Editor</a></td>
            <td>Creating a form for adding and updating To Do items<a class="todo"></a></td>
        </tr>
        <tr>
            <td class="text-center">5</td>
            <td><a href="/#!/tutorial/data-access">Data Access</a></td>
            <td>Saving To Do items to local storage &amp; HTTP endpoints using the Data API<a class="todo"></a></td>
        </tr>
        <tr>
            <td class="text-center">6</td>
            <td><a href="/#!/tutorial/responsive-design">Responsive Design</a></td>
            <td>Updating the UI for multiple screen sizes<a class="todo"></a></td>
        </tr>
        <tr>
            <td class="text-center">7</td>
            <td><a href="/#!/tutorial/build-and-deploy">Build &amp; Deploy</a></td>
            <td>Packing an application for use on the web and on a handheld<a class="todo"></a></td>
        </tr>
    </tbody>
</table>

<h2 id="fundamentals">Fundamentals</h2>
<p>The fundamentals section provides a base knowledge which will help developers
use ngBolt to create applications. It builds on the information from the 
tutorial by going more in-depth into ngBolt architecture, components, and 
tools.</p>
<p>By reading through the fundamentals section, a developer should have all the 
knowledge needed to build complex ngBolt applications.</p>
<table class="table table-collapse">
    <thead>
        <tr>
            <th>Page</th>
            <th>Description</th>
        <tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/#!/fundamentals/architecture">Architecture</a></td>
            <td>A deep dive into what ngBolt provides, how it works, and some of the use cases<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/fundamentals/cli">Command Line Interface</a></td>
            <td>A full description of available CLI commands as well as how to use them<a class="done"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/fundamentals/app-templates">Application Templates</a></td>
            <td>When ngBolt creates a new application, a template is cloned and updated with the user&#39;s input<a class="ip"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/fundamentals/app-structure">Application Structure</a></td>
            <td>How every ngBolt project is set up (files, configuration, etc.) and the available configuration options<a class="done"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/fundamentals/authentication">Authentication</a></td>
            <td>How to use the Authentication API across authentication methods<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/fundamentals/views">Routes &amp; Views</a></td>
            <td>How to define routes and views for application workflows<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/fundamentals/grid-layout">Grid Layout</a></td>
            <td>Flexbox is used as the underlying grid layout with a few small additions<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/fundamentals/styles">Styles &amp; Variables</a></td>
            <td>Styles and variables are used as input to ngBolt applications to automatically style them using a light / dark theme<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/fundamentals/form-controls">Form Controls</a></td>
            <td>All supported form elements are available as ngBolt components<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/fundamentals/ui-components">UI Components</a></td>
            <td>Additional user interface components available to developers<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/fundamentals/data-api">Data API</a></td>
            <td>Accessing data from multiple sources depending on the environment<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/fundamentals/build-and-deploy">Build &amp; Deploy</a></td>
            <td>Applications can be packaged and deployed in different ways depending on the target environment<a class="todo"></a></td>
        </tr>
    </tbody>
</table>

<h2 id="best-practices">Best Practices</h2>
<p>The Best Practices section goes into details on how ngBolt applications should
be developed. These aren&#39;t required, but build on best practices from various
other groups (i.e. Angular, Javascript, etc.).</p>
<p>The intention of this section is to make developers aware of the appropriate 
style guidelines from all the tools / languages used by ngBolt.</p>
<table class="table table-collapse">
    <thead>
        <tr>
            <th>Page</th>
            <th>Description</th>
        <tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/#!/best-practices/documentation">Documentation</a></td>
            <td>ngBolt uses dgeni for documentation and will automatically add user documentation from the ngBolt applications into the packaged documentation<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/best-practices/style-guide">Style Guide</a></td>
            <td>ngBolt uses Google&#39;s Material Design specification for components and developers should continue to use that specification when creating applications<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/best-practices/responsive-design">Responsive Design</a></td>
            <td>ngBolt supports the developer when creating responsive applications by allowing styles / sections to show / hide based on screen size<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/best-practices/testing">Testing</a></td>
            <td>ngBolt uses a combination of karma, chi, mocha, sinon, and protractor for unit tests which can also be used by application developers<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/best-practices/going-to-production">Going To Production</a></td>
            <td>ngBolt offers additional flags using the CLI to package applications into a production ready format<a class="todo"></a></td>
        </tr>
    </tbody>
</table>

<h2 id="resources">Resources</h2>
<p>Additional resources are provided to inform developers of various ngBolt related
information.</p>
<table class="table table-collapse">
    <thead>
        <tr>
            <th>Page</th>
            <th>Description</th>
        <tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/#!/about">About</a></td>
            <td>In introduction to ngBolt, assumptions, and how to give feedback<a class="done"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/resources/faq">FAQ</a></td>
            <td>Questions commonly asked by new developers as well as potential users<a class="ip"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/resources/contribute">Contribute</a></td>
            <td>How to contribute to the ngBolt project<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/resources/goals">Project Goals</a></td>
            <td>Clearly stated goals for the direction of ngBolt development<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/resources/tools">Development Tools</a></td>
            <td>A list of tools or references used within ngBolt or helpful to ngBolt development<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/#!/resources/troubleshooting">Troubleshooting</a></td>
            <td>Common error codes and troubleshooting techniques with ngBolt applications<a class="todo"></a></td>
        </tr>
    </tbody>
</table>

<div ng-if="false">
## Examples

There are three applications that ngBolt has for examples. Each app tries to 
utilize different fundamentals while sticking to the style guides. 

Developers should review each application but should keep in mind these 
examples don&#39;t fully cover the ngBolt capability and should only be used for 
reference.

<table class="table table-collapse">
    <thead>
        <tr>
            <th>Page</th>
            <th>Description</th>
        <tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/examples/places-app">Places App</a></td>
            <td>A simple application for viewing locations on a map and information about those places. Uses Cesium for maps, ArcGIS for tiles, and Open Street Maps for data.<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/examples/chat-app">Chat App</a></td>
            <td>An application for chatting between users in groups. Uses Crossbar.io (WAMP) for cross-client communication.<a class="todo"></a></td>
        </tr>
        <tr>
            <td><a href="/examples/todo-app">To Do App</a></td>
            <td>A web and handheld application for tracking to do items. This is also used as the tutorial for ngBolt.<a class="todo"></a></td>
        </tr>
    </tbody>
</table>

</div>

<h2 id="api">API</h2>
<p><a href="/#!/api">ngBolt API</a><a class="ip"></a> documentation generated from the source code using dgeni.
It should be used as a reference for each of the ngBolt components used by
developers when creating applications.</p>
<h2 id="miscellaneous">Miscellaneous</h2>
<p>The following pages are also part of the ngBolt documentation, but do not fit
into any of the sections above.</p>
<table class="table table-collapse">
    <thead>
        <tr>
            <th>Page</th>
            <th>Description</th>
        <tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/#!/">Overview</a></td>
            <td>ngBolt Home Page<a class="done"></a></td>
        </tr>
    </tbody>
</table>
