
    <h1 id="command-line-interface">Command Line Interface</h1>
<p>The ngBolt CLI can setup a new ngBolt project, run an ngBolt application in a 
development environment and deploy to a production environment.</p>
<div class="note-info">
Please refer to Step 1 in the <a href="/#!/getting-started">Getting Started</a> section for 
details on how to install the ngBolt CLI.
</div>

<h2 id="usage">Usage</h2>
<div class="console">
<code>bolt [command] [profile] [flags]</code>
</div>

<h2 id="commands">Commands</h2>
<h3 id="new">New</h3>
<p>To create a new project, run the following command (replacing my-app with your 
app name) in the directory where you want to create your new project:</p>
<div class="console">
<code>bolt new [my-app]</code>
</div>

<p>Follow the on-screen instructions to complete the app creation.</p>
<h3 id="run">Run</h3>
<p><em>While inside your project&#39;s folder</em>, host your application using the specified
profile:</p>
<div class="console">
<code>bolt run [profile]</code>
</div>

<div class="note-tip">
The ngBolt CLI will look in the <code>config/profiles</code> folder for a file named 
<code>profile.json</code>. If no profile is specified, the <code>development</code> profile will be 
used.
</div>

<h3 id="deploy">Deploy</h3>
<p><em>While inside your project&#39;s folder</em>, compress and package your application 
using the specified profile:</p>
<div class="console">
<code>bolt deploy [profile]</code>
</div>

<div class="note-tip">
The ngBolt CLI will look in the <code>config/profiles</code> folder for a file named 
<code>profile.json</code>. If no profile is specified, the <code>development</code> profile will be 
used.
</div>

<h2 id="flags">Flags</h2>
<table class="table table-collapse">
    <thead>
        <tr>
            <th>Flag</th>
            <th>Description</th>
            <th>Valid Input</th>
        <tr>
    </thead>
    <tbody>
        <tr>
            <td><code>-h</code>, <code>--help</code></td>
            <td>Output CLI usage information (including commands and flags)</td>
            <td></td>
        </tr>
        <tr>
            <td><code>-V</code>, <code>--version</code></td>
            <td>Output the version number for the ngBolt CLI</td>
            <td></td>
        </tr>
        <tr>
            <td><code>-f</code>, <code>--fatal [value]</code></td>
            <td>The error level that will exit the build process</td>
            <td><code>error (default), warning, or off</code></td>
        </tr>
        <tr>
            <td><code>-p</code>, <code>--platform [value]</code></td>
            <td>The platform that the app will be deployed to</td>
            <td><code>angular (default), rails, grails, or cordova</code></td>
        </tr>
        <tr>
            <td><code>-e</code>, <code>--env [value]</code></td>
            <td>The environment for the gulp build</td>
            <td><code>development (default) or production</code></td>
        </tr>
        <tr>
            <td><code>-s</code>, <code>--serve [boolean]</code></td>
            <td>Run a server as part of a gulp build (this is default behavior when platform is angular)</td>
            <td><code>true or false</code></td>
        </tr>
        <tr>
            <td><code>-b</code>, <code>--beautify [boolean]</code></td>
            <td>Prevent minification of assets</td>
            <td><code>true or false</code></td>
        </tr>
    </tbody>
</table>
