
    <h1 id="responsive-design">Responsive Design</h1>
<h1 id="responsive-design">Responsive Design</h1>
<h1 id="media-query-support">Media Query Support</h1>
<ul>
<li><a href="/#/guides/breakpoints#overview">Overview</a></li>
<li><a href="/#/guides/breakpoints#media-query-css-classes">Media Query CSS Classes</a></li>
<li><a href="/#/guides/breakpoints#removing-elements-from-the-dom-at-breakpoints">Removing Elements from the DOM at Breakpoints</a></li>
</ul>
<hr>
<h2 id="overview">Overview</h2>
<p>ngBoltJS has built-in support for media queries so that your application can respond to the viewport width. Some components have predefined styles for narrow screens, but for the most part, we provide CSS classnames so that you can &#39;opt-in&#39; to adjusting presentation of a component on varying size screens.</p>
<hr>
<h2 id="media-query-css-classes">Media Query CSS Classes</h2>
<p>The CSS classnames for supporting media queries adhere to the following naming pattern: <code>.base-classname-{bp}-{dir}</code> where <code>bp</code> is the breakpoint (viewport width) and <code>dir</code> is the range from the breakpoint the css rule will apply to. Available media query classes are documented for each component in the <a href="/api">API Reference</a>.</p>
<h3 id="breakpoints">Breakpoints</h3>
<p>We support five breakpoints:</p>
<table>
<thead>
<tr>
<th>Breakpoint</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>sm</code></td>
<td>viewports 0px wide and up. (We follow the &#39;mobile first&#39; strategy, meaning that all styles are essentialy using the <code>sm</code> breakpoint by default)</td>
</tr>
<tr>
<td><code>md</code></td>
<td>viewports 600px wide and up</td>
</tr>
<tr>
<td><code>lg</code></td>
<td>viewports 900px wide and up</td>
</tr>
<tr>
<td><code>xl</code></td>
<td>viewports 1200px wide and up</td>
</tr>
<tr>
<td><code>xxl</code></td>
<td>viewports 1800px wide and up</td>
</tr>
</tbody>
</table>
<div class="note-info">
<strong>Note</strong> The default values of each breakpoint can be editted in the <code>styles.json</code> configuration file.
</div>

<h3 id="ranges">Ranges</h3>
<p>There are three available ranges you can use:</p>
<table>
<thead>
<tr>
<th>Range</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>only</code></td>
<td>Will only apply to viewports within the current breakpoint and the next one. For example, <code>{class}-md-only</code> will only apply to viewports between 600px and 899px wide.</td>
</tr>
<tr>
<td><code>down</code></td>
<td>Will only apply to viewports within the current breakpoint range and down. For example, <code>{class}-md-down</code> will only apply to viewports that are 899px wide and smaller.</td>
</tr>
<tr>
<td><code>up</code></td>
<td>Will only apply to viewports from the current breakpoint and up. For example, <code>{class}-lg-up</code> will only apply to viewports that are 900px wide and larger.</td>
</tr>
</tbody>
</table>
<hr>
<h2 id="removing-elements-from-the-dom-at-breakpoints">Removing Elements from the DOM at Breakpoints</h2>
<p>Sometimes a component cannot be adapted to a different viewport width and it is easier to show and hide the component using the <code>show-{bp}-{dir}</code> classes. This works for most scenarios but can create problems in an Angular application when that component has data or expressions bound to it. In this scenario, the better strategy would be to remove the element from the DOM entirely. You can do this by using the <a href="/#!/api/blt_core/directive/bltIfBp">bltIfBp directive</a>.</p>

