






    .card-example-container > .card{
      min-width: 15rem;
    }
  
























    .datepicker-example-container {
      overflow: visible;
      min-height: 16rem;
    }
  








































































     .tabs-example {
         background-color: #f4f5f6;
         border: 1px solid #bdc3c7;
         border-top: 0;
         padding: 2rem;
     }
  




     .tabs-icon-example {
         background-color: #f4f5f6;
         border: 1px solid #bdc3c7;
         border-top: 0;
         padding: 2rem;
     }
  

































































