
    <h1 id="faq">FAQ</h1>
<h2 id="why-are-you-using-angularjs-instead-of-angular-">Why are you using AngularJS instead of Angular?</h2>
<p>Angular was still an early alpha during the development of ngBolt, so we 
chose to continue development using AngularJS for the initial release. </p>
<h2 id="will-ngbolt-be-updated-to-support-to-angular-">Will ngBolt be updated to support to Angular?</h2>
<p>Since AngularJS still has a higher adoption rate than Angular, an update 
is currently not planned. In a few years when the Angular community grows, 
ngBolt will likely make the switch to Angular as well as dropping support for
AngularJS.</p>

